language: node_js
node_js:
- 0.10
script:
- npm run coverage
- npm run publish-coverage
- test $SAUCE_USERNAME && npm run zuul || echo 'not running on saucelabs'
env:
  global:
  - secure: TXxHtCdOAk9AQRyntLTCRLP968OVX3V25bkAKmJvIDbppvuqwftQ+HbsyeuWY/QiTXSpDIis6yoq+3JVtP344IVMHn9gZg22n4idVfHL9TKzcJn0C6Sio49SKFbxKXL7PXIBiceGCyPHO0l8ljA7lt6PFLYpgHmKVYMsotpi+v4=
  - secure: n4I3ob/P48gYkjgFx8MtRRH0LaxySd6kjviTQgf7nd/H7bIolpyPcbiaATiaZMGHM7t91qUDEb7ovVK85jX4gO1p2RtKNEEGIGTsGTtiZCCGi14chgsMlAmYrYeBPhfsiv496kmqwTeV2KExnSi+XN6cwvIOfY+g4JYnVd2s7LM=
